/* 
    Document   : autocomplete.css
    Created on : 08.10.2013, 10:59:44
    Author     : zwobit
    Description:
*/

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.bf .tt-dropdown-menu {
  /* Added !important so that at least all suggestions are shown -> lead to "jumping" forms -> need better solution ... */
  position: relative !important;    
  max-height: 200px;
  overflow: auto;  
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 6px 6px;
  height: 18px;
  /*
  font-size: 18px;
  line-height: 24px;
  */
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}


.th_text_wrapper {
    float: left;
    height: 16px;
}
.th_value {
    float: left;
    font-size: 1.2em;
    margin-left: 10px;
    display: inline-block;
}
.th_bio {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
    display: inline-block;
    padding-left: 4px;
}

.th_sources {
    display: inline-block;
    float: right;
    height: 18px;
    padding: 0 1px;
}

.th_resources {
    display: block;
    float: right;
    height: 18px;
    padding: 0 1px;
    margin-right: 10px;
    width: 18px;
}

.th_sources span {
    float: left;
    display: inline-block;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;   
}
.th_resources .img_local,
.th_sources .img_local {
    height: 16px;
    width: 16px;
    margin: 1px;  
    display: block;
    background: url("/exist/apps/cluster-shared/resources/images/local.png") no-repeat center;
}

.th_resources .img_aat,
.th_resources .img_tgn,
.th_resources .img_ulan,
.th_resources .img_JPG,
.th_sources .img_aat,
.th_sources .img_tgn,
.th_sources .img_ulan,
.th_sources .img_JPG {
    height: 16px;
    width: 16px;
    margin: 1px;  
    display: block;
    background: url("/exist/apps/cluster-shared/resources/images/JPG.png") no-repeat center;
}

.th_resources .img_viaf,
.th_sources .img_viaf {
    height: 16px;
    width: 16px;
    margin: 1px;  
    display: block;
    background: url("/exist/apps/cluster-shared/resources/images/viaf.png") no-repeat center;
}

.th_resources .img_DNB,
.th_sources .img_DNB {
    height: 16px;
    width: 16px;
    margin: 1px;  
    display: block;
    background: url("/exist/apps/cluster-shared/resources/images/DNB.png") no-repeat center;
}

.th_hint {
    float: right;
    height: 16px;
    width: 16px;
    margin: 1px;  
    display: inline-block;
    background: url("/exist/apps/cluster-shared/resources/images/hint.png") no-repeat center;
}

