/* 
    Document   : select2-cluster.less
    Created on : 13.04.2014, 16:50:12
    Author     : zwobit
    Description:
*/
.select2-container {
    width: 300px;
}

.select2-result {
    .term-term {
        display: inline-block;
        float: left;
        
        .term-type {
            padding-right: 2px;
        }
    }
    
    .term-related {
        padding-left: 5px;
        color: #008000;
    }
    .term-origin {
        display: inline-block;
        float: left;
        padding-left: 5px;
        
        .term-authority {
            float: left;
            padding-right: 2px;
        }
        
        .term-sources {
            display: inline-flex;
            float: left;
        }
        .img_local {
        height: 16px;
        width: 16px;
        margin: 1px;  
        display: block;
        background: url("/exist/apps/cluster-shared/resources/images/local.png") no-repeat center;
    }
    .img_getty {
        height: 16px;
        width: 16px;
        margin: 1px;  
        display: block;
        background: url("/exist/apps/cluster-shared/resources/images/getty.png") no-repeat center;
    }
    .img_viaf {
        height: 16px;
        width: 16px;
        margin: 1px;  
        display: block;
        background: url("/exist/apps/cluster-shared/resources/images/viaf.png") no-repeat center;
    }

    .img_DNB {
        height: 16px;
        width: 16px;
        margin: 1px;  
        display: block;
        background: url("/exist/apps/cluster-shared/resources/images/DNB.png") no-repeat center;
    }
    }
    
}